/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');

  
li {list-style-type: none;}
* {
    margin:0; padding:0
} 
html, body {
    width: 100%;
    height: 100%;
    line-height: 1;
}
body {
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
/* header */
header {
    width: 100%;
    height: 60px;
    z-index: 1000;
    top: 0px;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.2);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    transition: All 0.2s ease;
        -webkit-transition: All 0.2s ease;
        -moz-transition: All 0.2s ease;
        -o-transition: All 0.2s ease;
}
header > div.inner {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}
header > div.inner > div#logo {
    float: left;
}
header > div.inner > nav {
    text-align: right;
}
header > div.inner > nav > ul > li {
    padding-left: 50px;
    display: inline-block;
    padding-top: 8px;
}
header > div.inner > nav > ul > li > a {
    text-decoration: none;
    color: #808080;
    transition: All 0.5s ease;
        -webkit-transition: All 0.5s ease;
        -moz-transition: All 0.5s ease;
        -o-transition: All 0.5s ease;
}
header > div.inner > nav > ul > li > a:hover {
    color: #006cff;
}
header > div.inner > nav > ul > li > a:focus {
    color: #006cff;
}

/* section */


/* section#content1 */
section {
    /* height: 100vh; */
}

.inner {
    width: 1200px;
    margin: 0 auto 0 auto;
}
section#content1 {
    margin-top: 100px;
    height: 884px;
    /* background-color: #006cff; */
    background-image: url(../img/contents/mainwallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
section#content1 > div.inner {
    display: flex;
    justify-content: space-between;
    padding-top: 230px;
}
section#content1 > div.inner > div.mockup {
    background-image: url(../img/contents/content1-main3.png);
    margin-left: -10px;
    margin-top: -160px;
    width: 600px;
    height: 850px;
    /* margin: 100px 0 0 0; */
    background-size: contain;
    background-repeat: no-repeat;
}
section#content1 > div.inner > div.text {
    margin-right: 0px;
    animation-name: appear;
    animation-duration: 2.5s;
    animation-direction: normal;
    animation-iteration-count: unset;
}
section#content1 > div.inner > div.text > h2 {
    color: #006cff;
    font-size: 31px;
    font-weight: 600;
    /* text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15); */
    padding-bottom: 40px;
}
section#content1 > div.inner > div.text > img {
    display: block;
    margin-bottom: 20px;
}
section#content1 > div.inner > div.text > p {
    display: inline;
    /* padding-left: 140px; */
    text-align: left;
    font-size: 16.5px;
    line-height: 30.6px;
    font-weight: 600;
    /* color: #666666; */
    padding-top: 40px;
    color: #006cff;
}
section#content1 > div.inner > div.text > div.icon {
    margin-top: 50px;
}
section#content1 > div.inner > div.text > div.icon > a {
    color: #828282;
    width: 215px;
    height: 27px;
    border-top-left-radius: 15px;
    background-color: #fff;
    display: inline-block;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.15);
    padding: 9px 0 4px 0;
    text-align: center;
    animation-name: btnappear;
    animation-duration: 3s;
    animation-direction: normal;
    animation-iteration-count: unset;
}
section#content1 > div.inner > div.text > div.icon > a:first-child {
    margin-right: 14px;
}
section#content1 > div.inner > div.text > div.icon > a > img {
    margin-bottom: -8px;
    padding-left: -9px;
}

/* section#content2 */
section#content2 {
    background-color: #f2f2f2;
    overflow: hidden;

}
section#content2 > div.inner {
    height: 863px;
    padding-top: 300px;
    display: flex; 
    justify-content: space-between;
}

/* scection#content2 .text-area */
section#content2 > div.inner > div.text-area {
    float: left;
    height: 600px;
}
section#content2 > div.inner > div.text-area > h2 {
    color: #d4d5d8;
    font-size: 40px;
    font-weight: 600;
    /* 타이틀 위로 붙이기 */
    /* margin-top: -10%; */
    /* 타이틀 아래 떨어뜨리기 */
    padding-bottom: 50%;
}
section#content2 > div.inner > div.text-area > h3 {
    color: #006cff;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 30px;
}
section#content2 > div.inner > div.text-area > p {
    color: #666666;
    font-size: 18px;
    line-height: 24px;
    margin-right: 50px;
}

/* scection#content2 .img-area */
section#content2 > div.inner > div.img-area > {
    position: absolute;
    right: 0;
    
}
section#content2 > div.inner > div.img-area > img {
    display: block;
    text-align: right;
}
section#content2 > div.inner > div.img-area > img#message1 {
    padding: 20px 0 75px 0;
    position: relative;
    /* left: 54px; */
    opacity:0;
    left: 200px;
}
section#content2 > div.inner > div.img-area > img.messages {
    opacity: 0;
    margin-top: 40px;
}
section#content2 > div.inner > div.img-area > img:nth-child(2) {
   padding-bottom: 40px;
}
section#content2 > div.inner > div.img-area > img:nth-child(3) {
    padding-bottom: 40px;
}
section#content2 > div.inner > div.img-area > img:last-child {
    padding-bottom: 25%;
}


/* section#content3 */
section#content3 {
    background-color: #f2f2f2;
}
section#content3 > div.inner {
    height: 884px;
}
section#content3 > div.inner > h3 {
    color: #006cff;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 30px;
}
section#content3 > div.inner > div.items {
    display: flex;
    justify-content: space-between;
}
section#content3 > div.inner .slidetop {
    position: relative;
    opacity: 0;
    top: 50px;
}
section#content3 > div.inner > div.items > img.graph {
    margin-top: 100px;
}
section#content3 > div.inner > div.items > img.arrow {
    margin-top: 320px;
}
/* 배경 라운드 */
section#content3 > div.inner > div.items > div.text-area {
    margin-top: 170px;
    margin-left: 50px;
    width: 320px;
    height: 320px;
    background-color: #fff;
    border-radius: 500px;
    text-align: center;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.05);
}
section#content3 > div.inner > div.items > div.text-area > p {
    font-size: 30px;
    margin-top: 100px;
    color: #006cff;
    font-weight: 700;
    line-height: 45px;
}

/* section#content4 */
section#content4 {
    background-color: #f2f2f2;
}
section#content4 > div.inner {
    height: 884px;
}
section#content4 > div.inner > h2 {
    color: #d4d5d8;
    font-size: 40px;
    font-weight: 600;
    /* 타이틀 위로 붙이기 */
    /* margin-top: -10%; */
    /* 타이틀 아래 떨어뜨리기 */
    padding-bottom: 16%;
}
#content4 .slideright {opacity: 0;}
div#r1 {
    position: relative;
}
div#r2 {
    position: relative;
    left: -50px;
}
div#r3 {
    position: relative;
    left: -50px;
}
div#r4 {
    position: relative;
    left: -50px;
}
section#content4 > div.inner > div.rect {
    margin: auto;
    display: flex;
    justify-content: space-between;
}
section#content4 > div.inner > div.rect > div {
    width: 220px; height: 130px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 90px;
    border-radius: 600px;
    background-color: #fff;
    color: #006cff;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.05);
}
section#content4 > div.inner > div.rect > div:last-child {
    background-color: #006cff;
    color: #fff;
}
section#content4 > div.inner > div.rect > img.r_arrow {
    margin: 90px 20px 0 20px;
}
section#content4 > div.inner > h3 {
    margin-top: 60px;
    text-align: center;
    color: #006cff;
    font-weight: 700;
    font-size: 30px;
}

/* section#content5 */
section#content5 {
    background-color: #006cff;
    /* height: 884px; */
    height: 100vh;
    color: #fff;
}
section#content5 > div.inner {
    padding-top: 10%;
}
section#content5 > div.inner > h3 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 65px;
}
section#content5 > div.inner > p {
    font-size: 17px;
    line-height: 28px;
    padding-bottom: 15%;
}
section#content5 > div.inner > div.meaning {
    text-align: right;
    line-height: 28px;
}

/* section#content6 */
section#content6 {
    background-color: #f2f2f2;
}
section#content6 > div.inner {
    height: 884px;
}
section#content6 > div.inner > h2 {
    color: #d4d5d8;
    font-size: 40px;
    font-weight: 600;
    /* 타이틀 위로 붙이기 */
    padding-top: 10%;
    /* 타이틀 아래 떨어뜨리기 */
    padding-bottom: 16%;
}

/* section#content7 */
section#content7 {
    background: #f2f2f2;
}
section#content7 > div.inner {
    /* height: 800px;
    width: 1200px; */
}
section#content7 > div.inner > h2 {
    color: #d4d5d8;
    font-size: 40px;
    font-weight: 600;
    /* 타이틀 위로 붙이기 */
    /* margin-top: -10%; */
    /* 타이틀 아래 떨어뜨리기 */
    padding-bottom: 5%;
}
.slide-area {
    height: 900px;
    width: 1250px;
    position: relative;
    overflow: hidden;
    background: #f2f2f2;
    color: #fff;
    text-align: center;
}
#content7 #slide-menu {
    /* background: #f2f2f2; */
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 900;
    width: 50px;
}
#content7 #slide-menu label {
    color: #788188;
    cursor: pointer;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px;
}
#content7 #slide-menu label:hover {
    /* background: #2e353b; */
    color: #006cff;
}
section#content7 img {
    margin-top: -150px;
    margin-left: 250px;
}
.slide {
    height: 650px;
    width: 1300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-color: #f2f2f2;
    transition: left 0s 0.75s;
}
.slide-one {
    background-image: url('../img/contents/service01.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.slide-two {
    background-image: url('../img/contents/service02.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.slide-three {
    background-image: url('../img/contents/service03.gif');
    background-size: contain;
    background-repeat: no-repeat;
}
.slide-four {
    background-image: url('../img/contents/service04.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}
[id^="slide"]:checked + .slide h1 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s 0.5s;
}

/* section#content8 */
section#content8 {
    background-color: #f2f2f2;
}
section#content8 > div.inner {
}
section#content8 > div.inner > h2 {
    color: #d4d5d8;
    font-size: 40px;
    font-weight: 600;
    /* 타이틀 위로 붙이기 */
    /* padding-top: 10%; */
    /* 타이틀 아래 떨어뜨리기 */
    padding-bottom: 16%;
}
section#content8 > div.inner > div.otherservice {
    padding-bottom: 300px;
    position: relative;
    top: 20px;
    opacity: 0;
}
section#content8 > div.inner > div.otherservice p span:first-child {
    color: #d4d5d8;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 40px;
    font-weight: 700;
}
section#content8 > div.inner > div.otherservice p span {
    color: #006cff;
}
section#content8 > div.inner > div.otherservice p {
    display: inline-block;
    /* padding-top: 350px; */
    font-size: 18px;
    line-height: 40px;
    /* font-weight: 7; */
}
section#content8 > div.inner img {
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.1)
}
/* first */
section#content8 > div.inner > div#first {
}
section#content8 > div.inner > div#first > img {
    float: left;
}
section#content8 > div.inner > div#first > p {
    position: relative;
    top: 270px;
    margin-left: 70px;
}
section#content8 > div.inner > div#first:after {
    content:"";
    display: block;
    clear: both;
}

/* second */
section#content8 > div.inner > div#second {
    text-align: center;
}
section#content8 > div.inner > div#second > img:first-child {
    margin-left: 220px;
}
section#content8 > div.inner > div#second > img {
    float: both;
    margin-left: 33px;
}
section#content8 > div.inner > div#second > p {
    text-align: left;
    position: relative;
    top: -220px;
}
section#content8 > div.inner > div#second > p {
    margin-left: 65px;
}
section#content8 > div.inner > div#second:after {
    content:"";
    display: block;
    clear: both;
}

/* third */
section#content8 > div.inner > div#third {
    position: relative;
    left: 500px;
    height: 700px;
    width: 700px;
}
section#content8 > div.inner > div#third > p {
    text-align: right;
    position: relative;
    top: -300px;
    margin-right: 65px;
}
section#content8 > div.inner > div#third > img {
    
}
section#content8 > div.inner > div#third:after {
    content:"";
    display: block;
    clear: both;
}

/* fourth */
section#content8 > div.inner > div#fourth {}
section#content8 > div.inner > div#fourth > img {
    float: left;
}
section#content8 > div.inner > div#fourth > p {
    position: relative;
    top: 200px;
    margin-left: 80px;
}
section#content8 > div.inner > div#fourth:after {
    content:"";
    display: block;
    clear: both;
}

/* section#content9 */
section#content9 {
    background-color: #f2f2f2;
}
section#content9 > div.inner {
    /* height: 884px; */
}
section#content9 > div.inner > h2 {
    color: #d4d5d8;
    font-size: 40px;
    font-weight: 600;
    /* 타이틀 위로 붙이기 */
    padding-top: 10%;
    /* 타이틀 아래 떨어뜨리기 */
    padding-bottom: 16%;
}
section#content9 > div.inner > div.design_concept {
    display: flex;
    justify-content: space-between;
}
section#content9 > div.inner div.text-area {
    width: 400px;
}
section#content9 > div.inner div.text-area > h3 {
    color: #006cff;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 100px;
    margin-top: -50px;
}
section#content9 > div.inner div.text-area > p {
    color: #666666;
    font-size: 18px;
    line-height: 24px;
    margin-right: 50px;
    margin-bottom: 350px;
}
section#content9 > div.inner > div.design_concept > div.round {
    float: left;
    margin: 0 20px 0 20px;
    width: 220px; height: 130px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 90px;
    color: #006cff;
    background-color: #fff;
    border-radius: 600px;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.05);
    opacity: 0;
}
section#content9 > div.inner > div.design_concept > div#design_r1 {
    position: relative;
    right: 50px;
}
section#content9 > div.inner > div.design_concept > div#design_r2 {
    position: relative;
    right: 70px;
}
section#content9 > div.inner > div.design_concept > div#design_r3 {
    position: relative;
    right: 90px;
}
section#content9 > div.inner > div.design > div.text-area {
    width: 1200px;
    /* margin-bottom: -300px; */
}
section#content9 > div.inner > div.design > div.text-area > p {
    margin-top: 170px;
    margin-bottom: 70px;
}
section#content9 > div.inner > div.design > img {
    display: inline-block;
    margin-bottom: 300px;
}
section#content9 > div.inner > div.font > img {
    display: inline-block;
    margin-bottom: 300px;
}
section#content9 > div.inner > div.logo_concept {
    display: flex;
    justify-content: space-between;
}
section#content9 > div.inner > div.icon {
    display: flex;
    justify-content: space-between;
}

.slideup {
    opacity: 0;
    position: relative;
    top: 40px;
}


/* footer */
footer {
    background-color: #006cff;
    overflow: hidden;
}
footer > img {
    position: absolute;
    /* margin-top: 130px;
    margin-left: 68%; */
    text-align: right;
    right: 0;
    margin-top: 220px;
    margin-right: 20px;
    opacity: 0.19;
}
footer > div.inner {
    /* background-color: #006cff; */
    color: #fff;
    height: 450px;
    display: flex;
    justify-content: space-between;
}
footer > div.inner > ul:first-child {
    padding-left: 0;
    margin-right: 60px;
}
footer > div.inner > ul {
    float: left;
    /* padding: 0 20px 0 50px; */
}
footer > div.inner > ul > li.name {
    padding: 100px 0 50px 0;
    font-size: 25px;
    font-weight: 700;
}
footer > div.inner > ul > li{
    font-size: 18px;
    padding-bottom: 20px;
}
