/* index.css */
div.wrap {
    /* background-image: url('../image/background1.png');
    background-size: 70vw; background-repeat: no-repeat;
    background-position: 190%; */
}

div.wrap > section.main > div#main-wrap > div#inform1 {}

div.wrap > section.main > div#main-wrap > div#inform1 > span {
    display: block;
}
div.wrap > section.main > div#main-wrap > div#inform1 > span#univ-name {
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    right: 0;
}
div.wrap > section.main > div#main-wrap > div#inform1 > span#major-name {
    position: absolute;
    right: 0;
    font-size: 22px;
    font-weight: 200;
    margin-top: 35px;
}
div#inform1 > span#genre-name {
    position: absolute; top: 0; left: 0;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
}


div.wrap > section.main > div#main-wrap > div#inform2 > div#inform2-1 {position: absolute; right: 0; margin-top: 10px;}

div.wrap > section.main > div#main-wrap > div#inform2 > div#inform2-1 > span#exhibit {font-style: italic; margin-top: 80px; display: block; line-height: 34px;
font-size: 26px; font-weight: 600;
text-align: right;
}

div#inform2 > div#inform2-2 {display: block; right: 0;}
div#inform2 > div#inform2-2 > img {position: absolute; right: 0; margin-top: 220px;}

div#inform2 > span#team-name {
    position: absolute; right: 0; top: 400px; line-height: 28px; 
    font-size: 18px;
    text-align: right;
}


/* 반응형 */
@media (min-width: 1600px) {
    div.wrap > section.main > div#main-wrap {
        margin-right: 200px;
    }
}