div.wrap > section.member {
    position: absolute; 
    /* border: 1px solid red;  */
    width: 50vw; height: 805.5px;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    /* margin-right: 100px; */
    /* transition: all ease-in-out 500ms; */
    z-index: 1;
}

[type=radio] {
display: none;
}

#slider {
height: 100vh;
position: relative;
perspective: 1000px;
transform-style: preserve-3d;
}

#slider label {
margin: auto;
width: 469.5px;
height: 805.5px;
border-radius: 4px;
position: absolute;
left: 0; right: 0;
cursor: pointer;
transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
transform: translate3d(-140%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
transform: translate3d(-70%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
transform: translate3d(70%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
transform: translate3d(140%,0,-200px);
}

.slides {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
  
#slide1 {
    background-image: url(../image/members/1.jpg)
}
#slide2 {
    background-image: url(../image/members/2.jpg)
}
#slide3 {
    background-image: url(../image/members/3.jpg)
}
#slide4 {
    background-image: url(../image/members/4.jpg)
}
#slide5 {
    background-image: url(../image/members/5.jpg);
}

.slides > div.darker {
    background-color: #000000;
    height: 100%; width:100%; display: block; position: absolute; top:0;
    transition: opacity 500ms ease-in;
}

.unselected {
    opacity: 0.6;
}

.selected {
    opacity: 0;
}