#menu-card {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.card {
  display: block;
  position: absolute;
  width: 151px; height: 258px;
  background-color: transparent;
  border: 1px solid transparent;
  color: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 170%;
  padding: 10px;
  /* font-size: 200%; */
  font-weight: bold;
  pointer-events: none;
  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  
  -moz-transform: translateY(-270px);
  -webkit-transform: translateY(-270px);
  -o-transform: translateY(-270px);
  -ms-transform: translateY(-270px);
  transform: translateY(-270px);
}
.card1 {
  background: url("../image/menu-card1.png");
  background-size: cover;
  z-index: 5; text-align: right;
}
.card2 {
  background: url("../image/menu-card2.png");
  background-size: cover;
  z-index: 4;text-align: right;
}
.card3 {
  background: url("../image/menu-card3.png");
  background-size: cover;
  z-index: 3;text-align: right;
}
.card4 {
  background: url("../image/menu-card4.png");
  background-size: cover;
  z-index: 2;text-align: right;
}
.card5 {
  background: url("../image/menu-card5.png");
  background-size: cover;
  z-index: 1;text-align: right;
}

  .spread .card1:hover{
    box-shadow: 0 0 30px #fff;   
  }
  .spread .card2:hover{
    box-shadow: 0 0 30px #fff;   
  }
  .spread .card3:hover{
    box-shadow: 0 0 30px #fff;   
  }
  .spread .card4:hover{
    box-shadow: 0 0 30px #fff;   
  }
  .spread .card5:hover{
    box-shadow: 0 0 30px #fff;   
  }


.spread .card1 {
  position: absolute;
  left: 140%;
  bottom: 0%;
  opacity: 1;
  pointer-events: all;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  
  -moz-transform: rotate(-60deg) translateY(-200px);
  -webkit-transform: rotate(-60deg) translateY(-200px);
  -o-transform: rotate(-60deg) translateY(-200px);
  -ms-transform: rotate(-60deg) translateY(-200px);
  transform: rotate(-60deg) translateY(-200px);
}
.spread .card2 {
  position: absolute;
  left: 160%;
  opacity: 1;
  pointer-events: all;
  background-color: black;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  
-moz-transform: rotate(-25deg) translateY(-240px);
-webkit-transform: rotate(-25deg) translateY(-240px);
-o-transform: rotate(-25deg) translateY(-240px);
-ms-transform: rotate(-25deg) translateY(-240px);
transform: rotate(-25deg) translateY(-240px);
}
.spread .card3 {
  position: absolute;
  ;
  left: 180%;
  opacity: 1;
  pointer-events: all;
  background-color: black;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  
-moz-transform: rotate(0deg) translateY(-270px);
-webkit-transform: rotate(0deg) translateY(-270px);
-o-transform: rotate(0deg) translateY(-270px);
-ms-transform: rotate(0deg) translateY(-270px);
transform: rotate(0deg) translateY(-270px);
}

.spread .card4 {
  position: absolute;
  left: 200%;
  opacity: 1;
  pointer-events: all;
  background-color: black;
  -webkit-transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
-o-transition: all 1.5s ease;
transition: all 1.5s ease;
  
-moz-transform: rotate(25deg) translateY(-240px);
-webkit-transform: rotate(25deg) translateY(-240px);
-o-transform: rotate(25deg) translateY(-240px);
-ms-transform: rotate(25deg) translateY(-240px);
transform: rotate(25deg) translateY(-240px);
}

.spread .card5 {
  position: absolute;
  left: 220%;
  opacity: 1;
  pointer-events: all;
  background-color: black;
  -webkit-transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
-o-transition: all 1.5s ease;
transition: all 1.5s ease;
  
-moz-transform: rotate(60deg) translateY(-200px);
-webkit-transform: rotate(60deg) translateY(-200px);
-o-transform: rotate(60deg) translateY(-200px);
-ms-transform: rotate(60deg) translateY(-200px);
transform: rotate(60deg) translateY(-200px);
}